.widgetSm{
    flex: 1;
    box-shadow: 13px 17px 26px -17px rgba(0,0,0,0.34);
    -webkit-box-shadow: 13px 17px 26px -17px rgba(0,0,0,0.34);
    -moz-box-shadow: 13px 17px 26px -17px rgba(0,0,0,0.34);
    padding: 20px;
    margin-right: 20px;
}

.widgetSmTitle{
    font-size: 22px;
    font-weight: 600;
}

.widgetSmImg{
    display: flex;
    height: 40px;
    border-radius: 50%;
    width: 40px;
    object-fit: cover;
}

.widgetSmList{
    margin: 20px 0;
    padding: 0px;
    list-style: none;
}

.widgetSmListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin: 20px 0px;
}

.widgetSmUser{
    display: flex;
   flex-direction: column;
}

.widgetSmUsername{
    font-weight: 600;
}

.widgetSmUserTitle{
    font-weight: 300;
}

.widgetSmButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: gray;
}

.widgetSmIcon{
    font-size: 16px !important;
    margin-right: 5px;
}